NODE_ENV=development
PORT=3000

# MySQL local Docker
DATABASE_URL="mysql://meta:meta_password@mysql:3306/meta_lab"

# Meta / WhatsApp Cloud API
META_GRAPH_API_VERSION=v23.0
META_ACCESS_TOKEN=replace_me
META_PHONE_NUMBER_ID=replace_me
META_WABA_ID=replace_me
META_APP_SECRET=replace_me
META_VERIFY_TOKEN=local_verify_token

# Lab behavior
DOWNLOAD_DIR=uploads
SIMULATOR_PHONE_NUMBER=33600000000
